body {
	background-color: rgb(50, 50, 50);
	color: #fff;
	padding-left: 20px;
	padding-top: 10px;
}

.winner-message {
	position: absolute;
	top: 135px;
	left: calc(100vw / 2 - 150px);
	z-index: 10;
	background-color: rgba(0, 255, 255, 0);
	font-size: 36px;
	text-align: center;
	color: rgb(246, 248, 197);

	box-shadow: rgba(238, 248, 95, 0.49) 0px 30px 90px;
}

h2 {
	font-size: 24px;
	padding: 7px 20px;
}

.page-number {
	font-size: 18px;
	padding: 5px 20px;
}